In [78]:
import pandas as pd

In [79]:
#–¢—Ä–æ—Ö–∏ –Ω–µ –ø—Ä–∞–≤–∏–ª—å–Ω–∞ —É–º–æ–≤–∞, –∑–∞–º—ñ—Å—Ç—å Xi —É –Ω–∞—Å —ç –¥—ñ–∞–ø–∞–∑–æ–Ω –≤—ñ–¥ Ai-1 –¥–æ Ai. –•i –∑–Ω–∞–π–¥–µ–º–æ –¥–∞–ª—ñ
task = {
    'Ai-1':[0,24,48,72,96,120,144,168,192],
    'Ai': [24,48,72,96,120,144,168,192,216],
    'Ni':[1,2,4,6,12,16,6,2,1]
}

In [80]:
df = pd.DataFrame(task)
df

   Ai-1   Ai  Ni
0     0   24   1
1    24   48   2
2    48   72   4
3    72   96   6
4    96  120  12
5   120  144  16
6   144  168   6
7   168  192   2
8   192  216   1

In [81]:
n = sum(df['Ni'])

In [83]:
df['Xi'] = (df['Ai-1'] + df['Ai']) / 2
df

   Ai-1   Ai  Ni     Xi
0     0   24   1   12.0
1    24   48   2   36.0
2    48   72   4   60.0
3    72   96   6   84.0
4    96  120  12  108.0
5   120  144  16  132.0
6   144  168   6  156.0
7   168  192   2  180.0
8   192  216   1  204.0

In [84]:
#–ó–Ω–∞—Ö–æ–¥–∏–º–æ –≤–∏–±—ñ—Ä–∫–æ–≤–µ —Å–µ—Ä–µ–¥–Ω—î
x_ = 1/n * sum(df['Ni']*df['Xi'])
x_

114.72

In [85]:
#–ó–Ω–∞—Ö–æ–¥–∏–º–æ —Å–µ—Ä–µ–¥–Ω—å–æ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–µ –≤—ñ–¥—Ö–∏–ª–µ–Ω–Ω—è
deviation = (1/n * sum(df['Xi']**2 * df['Ni']) - x_**2)**0.5
deviation

38.1109118232561

In [101]:
#–ó–Ω–∞—Ö–æ–¥–∏–º–æ —ñ–Ω—Ç–µ—Ä–≤–∞–ª–∏ Yi-1 —Ç–∞ Yi –¥–ª—è –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —Ç–µ–æ—Ä–µ—Ç–∏—á–Ω–æ—ó –π–º–æ–≤—ñ—Ä–Ω–æ—Å—Ç—ñ Pi
Y1 = ((24 - x_) / deviation)
Y2 = (48 - x_) / deviation
Y3 = (72 - x_) / deviation
Y4 = (96 - x_) / deviation
Y5 = (120 - x_) / deviation
Y6 = (144 - x_) / deviation
Y7 = (168 - x_) / deviation
Y8 = (192 - x_) / deviation
Y9 = (216 - x_) / deviation

2.657506607810857

In [87]:
#–û—Ç–∂–µ —ñ–Ω—Ç–µ—Ä–≤–∞–ª–∏ –Ω–∞—Å—Ç—É–ø–Ω—ñ:
list = [
    [float('-inf'), Y1],
    [Y1,Y2],
    [Y2,Y3],
    [Y3,Y4],
    [Y4,Y5],
    [Y5,Y6],
    [Y6,Y7],
    [Y7,Y8],
    [Y8,float('inf')]
]
list

[[-inf, -2.3804206107879238],
 [-2.3804206107879238, -1.7506797084630763],
 [-1.7506797084630763, -1.1209388061382286],
 [-1.1209388061382286, -0.4911979038133811],
 [-0.4911979038133811, 0.1385429985114665],
 [0.1385429985114665, 0.768283900836314],
 [0.768283900836314, 1.3980248031611617],
 [1.3980248031611617, 2.027765705486009],
 [2.027765705486009, inf]]

In [102]:
#–ó–Ω–∞—Ö–æ–¥–∏–º–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ñ—É–Ω–∫—Ü—ñ—ó f(y) –∑ —Ç–∞–±–ª–∏—Ü—ñ –ª–∞–ø–ª–∞—Å–∞
p1 = 0.5 - 0.4913
p2 = 0.4913 - 0.4599
p3 = 0.4599 - 0.3686
p4 = 0.3686 - 0.1879
p5 = 0.1879 + 0.0517
p6 = 0.2764 - 0.0517
p7 = 0.4177 - 0.2764
p8 = 0.4783 - 0.4177
p9 = 0.5 - 0.4783
p_list = [p1,p2,p3,p4,p5,p6,p7,p8,p9]
p_list

[0.008699999999999986,
 0.03140000000000004,
 0.09129999999999999,
 0.18069999999999997,
 0.2396,
 0.22469999999999998,
 0.14130000000000004,
 0.06059999999999999,
 0.021699999999999997]

In [103]:
df['Pi'] = p_list
df

   Ai-1   Ai  Ni     Xi      Pi
0     0   24   1   12.0  0.0087
1    24   48   2   36.0  0.0314
2    48   72   4   60.0  0.0913
3    72   96   6   84.0  0.1807
4    96  120  12  108.0  0.2396
5   120  144  16  132.0  0.2247
6   144  168   6  156.0  0.1413
7   168  192   2  180.0  0.0606
8   192  216   1  204.0  0.0217

In [105]:
#–ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ, —á–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ä–æ–∑—Ä–∞—Ö—É–≤–∞–ª–∏ Pi (–≤ —Å—É–º—ñ —Ç—Ä–µ–±–∞ 1)
df['Pi'].sum()

1.0

In [106]:
df['N_'] = df['Pi'] * n
df

   Ai-1   Ai  Ni     Xi      Pi      N_
0     0   24   1   12.0  0.0087   0.435
1    24   48   2   36.0  0.0314   1.570
2    48   72   4   60.0  0.0913   4.565
3    72   96   6   84.0  0.1807   9.035
4    96  120  12  108.0  0.2396  11.980
5   120  144  16  132.0  0.2247  11.235
6   144  168   6  156.0  0.1413   7.065
7   168  192   2  180.0  0.0606   3.030
8   192  216   1  204.0  0.0217   1.085

In [107]:
#–ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ä–æ–∑—Ä–∞—Ö–æ–≤–∞–Ω–µ N_ (—à—Ç—Ä–∏—Ö) 
df['N_'].sum()

50.0

In [110]:
#–û–±—á–∏—Å–ª—é—ç–º–æ –ö –µ–º–ø—ñ—Ä–∏—á–Ω–µ (Kemp)
Kemp = sum(((df['Ni'] - df['N_'])**2) / df['N_'])

In [111]:
Kemp

4.479357379672728

In [112]:
#–ó–∞ —Ç–∞–±–ª–∏—Ü–µ—é –∫—Ä–∏—Ç–∏—á–Ω–∏—Ö —Ç–æ—á–æ–∫ —Ä–æ–∑–ø–æ–¥—ñ–ª—É X**2 –ø—Ä–∏ —Ä—ñ–≤–Ω—ñ –∑–Ω–∞—á—É—â–æ—Å—Ç—ñ Œ± = 0,01 —Ç–∞ —á–∏—Å–ª—ñ —Å—Ç—É–ø–µ–Ω—ñ–≤ —Å–≤–æ–±–æ–¥–∏ ùëü = ùëö ‚àí ùë† ‚àí 1 = 9 ‚àí 2 ‚àí 1 = 6 –∑–Ω–∞—Ö–æ–¥–∏–º–æ –∫—Ä–∏—Ç–∏—á–Ω—É —Ç–æ—á–∫—É Xkp
Xkp = 16.8
Kemp < Xkp

True

In [ ]:
#–û—Ç–∂–µ —É –Ω–∞—Å –Ω–µ–º–∞—î –ø—ñ–¥—Å—Ç–∞–≤ –≤—ñ–¥—Ö–∏–ª–∏—Ç–∏ –Ω—É–ª—å–æ–≤—É –≥—ñ–ø–æ—Ç–µ–∑—É